## Pandas for Exploratory Data Analysis

MovieLens 100k movie rating data:  
* main page: http://grouplens.org/datasets/movielens/  
* data dictionary: http://files.grouplens.org/datasets/movielens/ml-100k-README.txt  
* files: u.user, u.data, u.item

WHO alcohol consumption data:  
* article: http://fivethirtyeight.com/datalab/dear-mona-followup-where-do-people-drink-the-most-beer-wine-and-spirits/    
* original data: https://github.com/fivethirtyeight/data/tree/master/alcohol-consumption  
* file: drinks.csv (with additional 'continent' column)

National UFO Reporting Center data:  
* main page: http://www.nuforc.org/webreports.html  
* file: ufo.csv

In [ ]:
import pandas as pd

### Reading Files, Selecting Columns, and Summarizing

In [ ]:
# can read a file from local computer or directly from a URL
user_data_url = r'https://raw.githubusercontent.com/justmarkham/DAT7/master/data/u.user'

In [ ]:
# read 'u.user' into 'users'
user_cols = ['user_id', 'age', 'gender', 'occupation', 'zip_code']

In [ ]:
users = pd.read_table(user_data_url)

In [ ]:
users = pd.read_table(user_data_url, sep='|', names=user_cols)

In [ ]:
                   # print the first 30 and last 30 rows

### examine the users data

In [ ]:
# What type? DataFrame

In [ ]:
# print the first 5 rows

In [ ]:
# print the first 10 rows

In [ ]:
# print the last 5 rows

In [ ]:
# "the index" (aka "the labels")

In [ ]:
# column names (which is "an index")

In [ ]:
# data types of each column

In [ ]:
# number of rows and columns

In [ ]:
# underlying numpy array

In [ ]:
# concise summary (including memory usage)

#### select a column

In [ ]:
# select one column

In [ ]:
# Series

In [ ]:
# select one column using the DataFrame attribute

### summarize (describe) the data

In [ ]:
# describe all numeric columns

In [ ]:
# describe all object columns (can include multiple types)

In [ ]:
# describe all columns

In [ ]:
# describe a single column

In [ ]:
# only calculate the mean

### count the number of occurrences of each value

In [ ]:
# most useful for categorical variables

In [ ]:
# can also be used with numeric variables

# EXERCISE ONE

In [ ]:
# read drinks.csv into a DataFrame called 'drinks'
drinks_data_url = r'https://raw.githubusercontent.com/justmarkham/DAT7/master/data/drinks.csv'

In [ ]:
# print the head and the tail

In [ ]:
# examine the default index, data types, and shape

In [ ]:
# print the 'beer_servings' Series

In [ ]:
# calculate the average 'beer_servings' for the entire dataset

In [ ]:
# count the number of occurrences of each 'continent' value and see if it looks correct

## Filtering and Sorting

### logical filtering: only show users with age < 20

In [ ]:
# create a Series of booleans...

In [ ]:
# ...and use that Series to filter rows

In [ ]:
# or, combine into a single step

In [ ]:
# select one column from the filtered results

In [ ]:
# value_counts of resulting Series

### logical filtering with multiple conditions

In [ ]:
# ampersand for AND condition

In [ ]:
# pipe for OR condition

In [ ]:
 # alternative to multiple OR conditions

### sorting

In [ ]:
# sort a DataFrame by a single column

In [ ]:
# use descending order instead

In [ ]:
# sort by multiple columns

# EXERCISE TWO

In [ ]:
# filter DataFrame to only include European countries

In [ ]:
# filter DataFrame to only include European countries with wine_servings > 300

In [ ]:
# calculate the average 'beer_servings' for all of Europe

In [ ]:
# determine which 10 countries have the highest total_litres_of_pure_alcohol

### Renaming, Adding, and Removing Columns

In [ ]:
# renaming one or more columns

In [ ]:
# different way to do same

In [ ]:
# replace all column names

In [ ]:
# replace during file reading

In [ ]:
# replace after file reading

In [ ]:
# add a new column as a function of existing columns

### removing columns

In [ ]:
# Drop a column. axis=0 for rows, 1 for columns

In [ ]:
# drop multiple columns

In [ ]:
# make it permanent

### Handling Missing Values

#### missing values are usually excluded by default

In [ ]:
 # excludes missing values

In [ ]:
# includes missing values

#### find missing values in a Series

In [ ]:
# True if missing, False if not missing

In [ ]:
# count the missing values

In [ ]:
 # True if not missing, False if missing

In [ ]:
# only show rows where continent is not missing

#### side note: understanding axes

In [ ]:
 # sums "down" the 0 axis (rows)

In [ ]:
 # axis=0 is the default

In [ ]:
 # sums "across" the 1 axis (columns)

#### find missing values in a DataFrame

In [ ]:
 # DataFrame of booleans

In [ ]:
 # count the missing values in each column

#### drop missing values

In [ ]:
# drop a row if ANY values are missing

In [ ]:
 # drop a row only if ALL values are missing

#### fill in missing values

In [ ]:
# fill in missing values with 'NA'

In [ ]:
 # modifies 'drinks' in-place

In [ ]:
# turn off the missing value filter

# EXERCISE THREE

In [ ]:
# read ufo.csv into a DataFrame called 'ufo'
ufo_data_url = r'https://raw.githubusercontent.com/justmarkham/DAT7/master/data/ufo.csv'

In [ ]:
# check the shape of the DataFrame

In [ ]:
# what are the three most common colors reported?

In [ ]:
# rename any columns with spaces so that they don't contain spaces

In [ ]:
# for reports in VA, what's the most common city?

In [ ]:
# print a DataFrame containing only reports from Arlington, VA

In [ ]:
# count the number of missing values in each column

In [ ]:
# how many rows remain if you drop all rows with any missing values?

### Split-Apply-Combine
![Split-Apply-Combine diagram](http://i.imgur.com/yjNkiwL.png)

In [ ]:
# for each continent, calculate the mean beer servings

In [ ]:
# for each continent, calculate the mean of all numeric columns

In [ ]:
# for each continent, describe beer servings

In [ ]:
# similar, but outputs a DataFrame and can be customized

In [ ]:
# for each continent, describe all numeric columns

In [ ]:
# for each continent, count the number of occurrences

# EXERCISE FOUR

In [ ]:
# for each occupation in 'users', count the number of occurrences
 # sorted by counts

In [ ]:
 # sorted by alphabetically, occupation

In [ ]:
# for each occupation, calculate the mean age

In [ ]:
# for each occupation, calculate the minimum and maximum ages

In [ ]:
# for each combination of occupation and gender, calculate the mean age

### Selecting Multiple Columns and Filtering Rows

#### select multiple columns

In [ ]:
# create a list of column names...

In [ ]:
# ...and use that list to select columns

In [ ]:
 # or, combine into a single step

#### use loc to select columns by name

In [ ]:
 # colon means "all rows", then select one column

In [ ]:
 # select two columns

In [ ]:
 # select a range of columns

#### loc can also filter rows by "name" (the index)

In [ ]:
 # row 0, all columns

In [ ]:
 # rows 0/1/2, all columns

In [ ]:
  # rows 0/1/2, range of columns

#### use iloc to filter rows and select columns by integer position

In [ ]:
  # all rows, columns in position 0/3

In [ ]:
  # all rows, columns in position 0/1/2/3

In [ ]:
  # rows in position 0/1/2, all columns

### Joining (Merging) DataFrames

In [ ]:
# Ignore this cell - old code!
# read 'u.item' into 'movies'
# movie_cols = ['movie_id', 'title']
# u_item = r'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.item'
# movies = pd.read_table(u_item, sep='|', header=None, names=movie_cols, usecols=[0, 1])
# movies.head()

In [ ]:
# read a dataset of top-rated IMDb movies into a DataFrame
movies = pd.read_csv('http://bit.ly/imdbratings', usecols=['title', 'genre', 'duration', 'actors_list'])

In [ ]:
# read 'u.data' into 'ratings'
ratings = pd.read_csv('http://bit.ly/imdbratings', usecols=['star_rating', 'title', 'content_rating'])

In [ ]:
# merge 'movies' and 'ratings' (inner join on 'movie_id')
movie_ratings = pd.merge(movies, ratings)

In [ ]:
movies.shape

In [ ]:
ratings.shape

In [ ]:
movie_ratings.shape

### Other Commonly Used Features

In [ ]:
# map existing values to a different set of values
users['is_male'] = users.gender.map({'F':0, 'M':1})

In [ ]:
# replace all instances of a value in a column (must match entire value)
ufo.State.replace('Fl', 'FL', inplace=True)

In [ ]:
# string methods are accessed via 'str'
ufo.State.str.upper()                               # converts to uppercase
ufo.Colors_Reported.str.contains('RED', na='False') # checks for a substring

In [ ]:
# convert a string to the datetime format
ufo['Time'] = pd.to_datetime(ufo.Time)
ufo.Time.dt.hour                        # datetime format exposes convenient attributes
(ufo.Time.max() - ufo.Time.min()).days  # also allows you to do datetime "math"

In [ ]:
# setting and then removing an index
ufo.set_index('Time', inplace=True)
ufo.reset_index(inplace=True)

In [ ]:
# change the data type of a column
drinks['beer'] = drinks.beer.astype('float')

In [ ]:
# create dummy variables for 'continent' and exclude first dummy column
continent_dummies = pd.get_dummies(drinks.continent, prefix='cont').iloc[:, 1:]

In [ ]:
# concatenate two DataFrames (axis=0 for rows, axis=1 for columns)
drinks = pd.concat([drinks, continent_dummies], axis=1)

### Other Less Used Features

#### detecting duplicate rows

In [ ]:
users.duplicated()          # True if a row is identical to a previous row
users.duplicated().sum()    # count of duplicates
users[users.duplicated()]   # only show duplicates
users.drop_duplicates()     # drop duplicate rows
users.age.duplicated()      # check a single column for duplicates
users.duplicated(['age', 'gender', 'zip_code']).sum()   # specify columns for finding duplicates

#### convert a range of values into descriptive groups

In [ ]:
drinks['beer_level'] = 'low'    # initially set all values to 'low'
drinks.loc[drinks.beer.between(101, 200), 'beer_level'] = 'med'     # change 101-200 to 'med'
drinks.loc[drinks.beer.between(201, 400), 'beer_level'] = 'high'    # change 201-400 to 'high'

In [ ]:
# display a cross-tabulation of two Series
pd.crosstab(drinks.continent, drinks.beer_level)

In [ ]:
# convert 'beer_level' into the 'category' data type
drinks['beer_level'] = pd.Categorical(drinks.beer_level, categories=['low', 'med', 'high'])
drinks.sort_values('beer_level')   # sorts by the categorical ordering (low to high)

In [ ]:
# limit which rows are read when reading in a file
pd.read_csv(drinks_data_url, nrows=10)           # only read first 10 rows
pd.read_csv(drinks_data_url, skiprows=[1, 2])    # skip the first two rows of data

In [ ]:
# write a DataFrame out to a CSV
drinks.to_csv('drinks_updated.csv')                 # index is used as first column
drinks.to_csv('drinks_updated.csv', index=False)    # ignore index

In [ ]:
# create a DataFrame from a dictionary
pd.DataFrame({'capital':['Montgomery', 'Juneau', 'Phoenix'], 'state':['AL', 'AK', 'AZ']})

In [ ]:
# create a DataFrame from a list of lists
pd.DataFrame([['Montgomery', 'AL'], ['Juneau', 'AK'], ['Phoenix', 'AZ']], columns=['capital', 'state'])

In [ ]:
# randomly sample a DataFrame
import numpy as np
mask = np.random.rand(len(drinks)) < 0.66   # create a Series of booleans
train = drinks[mask]                        # will contain around 66% of the rows
test = drinks[~mask]                        # will contain the remaining rows

In [ ]:
# change the maximum number of rows and columns printed ('None' means unlimited)
pd.set_option('max_rows', None)     # default is 60 rows
pd.set_option('max_columns', None)  # default is 20 columns
print (drinks)

In [ ]:
# reset options to defaults
pd.reset_option('max_rows')
pd.reset_option('max_columns')

In [ ]:
# change the options temporarily (settings are restored when you exit the 'with' block)
with pd.option_context('max_rows', None, 'max_columns', None):
    print (drinks)