<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Data analysis: exchange rates

In this exercise you will practise what you've learned so far on a new dataset.

The dataset comes from Kaggle, via the Federal Reserve and contains _"data on exchange rates between the US dollar, 23 other currencies, and three benchmark indexes"_

You can read more about the dataset here: https://www.kaggle.com/federalreserve/exchange-rates/data

# Section 1: EDA with `pandas`

### 1. Use `pandas` to load in the dataset (exchange_rates.csv in the data folder)

### 2. Load the dataset in... take 2!

You'll notice there's something amiss! As the data description on the Kaggle site says, the first few rows are headers, which you'll want to decide what to do with.

Load the dataset in again, ignoring the header rows. Don't worry about column names at this stage, we'll deal with them later.

### 3. Let's compare exchange rates for Japan, Korea, and Thailand

Extract only the columns for the date, and the three countries mentioned above into a new DataFrame.

Rename the columns of this new DataFrame to be more meaningful.

### 4. Convert the date column to an actual date type

### 5. Verify the change by examining the data types of the DataFrame

### 6. How many missing rows do we have for each currency?

### 7. Find the non-numeric values in the three currency columns.

Notice how even though Japanese yen doesn't have missing values it's still not a "float" type.

This typically means there are some non-numeric values in there, which aren't "NULL" so don't show up as issues when we count missing values.

Use `pandas` to find the non-numeric values.

Hint - here are a couple of suggestions:

- You could find the unique values in each column and find the non-numeric ones by eye (further hint: sorting will help!)
- Another option is to loop through each value in each column, try to convert them to numbers and print the failures
- Or just get creative, often there are many ways to achieve the same thing with `pandas`!

### 8. Count the *true* number of missing values per currency

Now we know that missing values aren't the only ways we can have invalid values. Count the number of missing **or invalid** values per currency.

### 9. Find the first and last date encountered for each currency

# Section 2: Visualising the data

### 10. Visualising average rates

a. Create a new DataFrame with the date and FIVE currencies

b. Calculate the average rate for each currency. Remember you'll need to deal with the non-numerics!

c. Choose an appropriate chart to visualise these averages. Make your plot "publication ready" (legends, axis labels etc.)

### 11. Now calculate the min and max rates per currency, and plot as a grouped bar chart

### 12. Plot the annual average value of your currencies using an appropriate plot

# Section 3: Descriptive statistics

### 13. Calculate the "five number summaries" for each of your 5 currencies

### 14. Distributions

Plot the distribution of the exchange rate for Japanese yen. What can you conclude?

### 14. Distribution over time

Now group the data into decades and plot the distribution of the Japanese yen exchange rate for each decade.

Some steps you may want to go through:

- Create a "decade" column using the date column
- Create a distribution plot per decade (either a separate plot for each decade, or combine them somehow)